*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    font-size: 17px;
    
  },
  *:before, *:after {
    box-sizing: border-box;
  }



 body::-webkit-scrollbar {
    width: 8px;
  }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  body::-webkit-scrollbar-thumb {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    background-color: goldenrod;

  }
  body{
    background-color: #f1f1f1;
  
  }

   

  .custom{
    background-color:rgba(0,0,0,0.9);
  }

  .particle-cont{
    padding: 0;
    overflow: hidden;
 
  }

  .wraps{
   width: 100vw;
   height: 90vh;


  }
  #preloader{
    width: 100vw;
    height: 100vh;
  }
  #preloader img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #particles-js{
    width: 100%;
    height: 100%;
    background-image: url(images/my-work4.jpg);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
 

  } 
  #particles-js h1{
padding-top: 20rem;
   color: white;
  
  }

  @media only screen and (max-width: 768px) {

    .wraps{
      width: 100vw;
      height: 80vh;
  
     }
     #particles-js h1{
      padding-top: 18rem;
         color: white;
        }

  }


  .target-span{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
    display: inline-block;
   
  }
.target-span::after{
  content: '';
  position: absolute;
  background-color:orange;
  height: 6px;
  width: 50px;
  display: block;
  left: 10%;
  transform: translateX(-10%);
  bottom: -3px;
  
}




  @media only screen and (max-width: 400px) {


body{
  font-size:15px;
  line-height: 1.8;
}
  img{
    max-width: 300px;
    height: auto;
  }
 

  }



  .custom .nav-link {
  margin: 10px 2rem;
   font-weight:bold;
   padding: 10px;
  
  }




  

  .intro-content h1,h2,h3,p,span,button{
    margin:8px;
  }
  .intro-content button{
    outline: none;
    border: none;
    padding: 12px 17px;
    cursor: pointer;
  }
  .intro-content button:hover{
    background-color: darkblue;
    
    transition: all 0.1s ease-in;
  }

  .container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
  }
  .intro{
    width: 100%;
    min-height: 500px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap:1rem;
    padding: 1rem;

  }
  small{
    color: grey;
    font-weight: bold;
  }
.intro-content{
  align-self: center;
}

.my-name{
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  color:darkblue;
}

.image-content img{
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin-top: 1rem;
  filter: grayscale(100%);
  transition: transform 0.1s ease;
 
}

.image-content img:hover{
   transform: scale(0.98);
  filter: grayscale(10%);
 
}

@media only screen and (max-width: 500px) {
  .intro {
    display: grid;
    grid-template-columns:1fr;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .image-content img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
  .image-content{
    margin: 0 auto;

  }
  .my-name{
    font-size: 1.8rem;
  }

}

.about{
  padding: 8px 15px ;
  min-height: 400px;
  display: grid;
  justify-items: center; 
  align-items: center;
  margin-top: 0.5rem;
  background-color:white;

}

.service-section{
  text-align: center;
}
.service-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
   justify-content: space-around;
   text-align: left;
   margin-top:0.5rem;

}
.service-wrapper>div{
  flex-basis: 300px;
}
.service-icon i{
  border-radius: 10%;
}


@media only screen and (max-width: 768px) {
 
  .service-wrapper{
    display: block;
  }
  .service-wrapper>div{
    margin-top:2rem;
  }

}







.cv-button{
  display: inline-block;
  padding: 12px 15px;
  cursor: pointer;
  max-width: 300px;
   margin: 0 auto;

}
@media only screen and (max-width: 500px) {

   .about{
  
    text-align: center;
   }
   .cv-button{
     padding: 8px 12px;
   }
}
@media only screen and (max-width: 500px) {

  *{
  
 font-size: 16px;  
 line-height: 1.7;
}
}

  .my-recent-work{
    min-height: 60vh;
    width: 100%;
    justify-items: center;
    background-color:#F1F1F1;
    text-align: center;
  
  }
  .all-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .all-items ul{
    display: flex;
  }
  .all-items ul li{
    list-style: none;
    margin: 6px;
    /* background-color: #ff7720; */
    background-color: white;
    border: 1px solid #c2c2c2;
    padding:5px 15px;
    cursor: pointer;
  }
  .all-items ul li.actives{
    background-color: orange;
  }
  .my-recent-work-heading{
    font-size: 2.1rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding:0.8rem;
  }

  .my-recent-work-wrapper{
    display: flex;
   flex-wrap: wrap;
    gap: 0.5rem;
    padding:0.5rem;
    justify-content: center;
  }
  .my-recent-work-wrapper .project-image{
    width: 350px;
    height: 350px;
    position: relative;
    margin:4px;
      
  }
  .my-recent-work-wrapper .project img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

  }
  .project{
    position: relative;
  }
  .recent-work-image-overlay{
       position: absolute;
    top:0;
    left: 0;

     width: 100%;
     height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  .image-overlay-content{
    color: white;
    z-index: 9999;
    text-align: center;
    opacity: 0;
      transition: all 0.2s;
      box-sizing: border-box;
  }
  .image-overlay-content i{
    font-size: 40px;
    color:white;
    margin:8px 5px;
  }
  .project:hover .image-overlay-content{
    opacity: 1;
    transform: translateY(30%);
  }

 

  @media only screen and (max-width: 500px) {

  .all-items{
    display: none;
  }


  }




 
  .client-feedback{
   /* min-height: 350px; */
    width: 100%;
    padding:0.5rem;
    text-align: center;
  }
  .client-feedback-heading{
     font-size: 2.1rem;
     font-weight: 600;
     letter-spacing: 1px;
     

  }

  .image-person{
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  .image-person img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

  }


  @media only screen and (max-width: 500px) {

    .image-person{
      height: 200px;
      width: 200px;

    }
    .person p{
      letter-spacing: 1px;
    }
  
  }
  


  .person p,h2{
    margin-top:10px;
  }
 .person{
   padding: 2rem 1rem;
 }



.carousel-item{
  /* padding: 2rem 1.5rem; */
  background-color:  #000c1a;
  color:lightblue;
  padding: 1rem 0.5rem;

}

.carousel-item .image-person,h2,p{
  margin-bottom:1rem;
}
.carousel-indicators [data-bs-target]
{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
}







.containerr {
  position: relative;
  /* width: 900px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 4rem 1rem;
  background-color: white;
}

.containerr .card {
  position: relative;
  width: 250px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.containerr .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.containerr .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
}

.card:hover .percent .number h2 span {
  color: #fff;
  transition: 0.5s;
}

.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
  stroke: #00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #ff04f7;
}

@media (max-width: 991px) {
  .containerr {
    width: 100%;
    flex-direction: column;
  }

  .containerr .card {
    margin: 20px auto;
  }
}




/* .hidden{
  display: none;
}
.hidden.active{
  display: block;
} */
















footer{
  display: grid;
grid-template-columns: 4fr 1fr;
align-items: center; 
color:white;
}
.left-content{
}
.right-content{
  flex-wrap: wrap;
}
.right-content i{
  font-size: 2rem;
  cursor: pointer;
  color:white;
}
.left-content a,.right-content a{
  margin: 10px;
}



@media only screen and (max-width: 500px) {

   footer{
     display: grid;
     grid-template-columns: 1fr;
     justify-items: center;
   }
   .client-feedback{
     padding:10px 15px;
     line-height:1.7;
   }

}