*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    
  },
  *:before, *:after {
    box-sizing: border-box;
  }
  body{
    background-color: #f2f2f2;
    
  }

  

  .intro-content h1,h2,h3,p,span,button{
    margin:8px;
  }
  .intro-content button{
    outline: none;
    border: none;
    padding: 12px 17px;
    cursor: pointer;
  }
  .intro-content button:hover{
    background-color: black;
    color: white;
    transition: all 0.1s ease-in;
  }

  .container{
    max-width: 1300px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 20px;
    font-size: 18px;
  }
  .intro{
    width: 100%;
    min-height: 500px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap:1rem;
  }
  small{
    color: grey;
    font-weight: bold;
  }
.intro-content{
  align-self: center;
}
.my-name{
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  color:darkblue;
}

.image-content img{
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin-top: 1rem;
 
}

@media only screen and (max-width: 500px) {
  .intro {
    display: grid;
    grid-template-columns:1fr;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .image-content img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }
  .image-content{
    margin: 0 auto;

  }
  .my-name{
    font-size: 1.8rem;
  }

}

.about{
  background-color:darkblue;
  color: #f2f2f2;
  margin-top:1rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  padding: 8px ;
  min-height: 40vh;
  display: grid;
  align-items: center;

}
.about-heading{
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin:0 auto;
  border-bottom: 5px solid white;
}
.cv-button{
  display: inline-block;
  padding: 12px 15px;
  cursor: pointer;
  max-width: 300px;
   margin: 0 auto;
}
@media only screen and (max-width: 500px) {

   .about{
   

    text-align: center;
   }
}
@media only screen and (max-width: 500px) {

  *{
  
 font-size: 16px;  
 line-height: 1.7;
}
}




















.about-myproject{
  height: 350px;
  width: 100%;
  position: relative;
  background-image: url(./images/project-background.jpg);
}
.overlay-wrapper:after{
  content: '';
  position: absolute;
  left: 0;
  top:0;
  right: 0;
  bottom:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}
.about-my-project-wrapper{
  background-color:white;
  position: absolute;
  margin-top: 10%;
  min-height: 350px;
  z-index: 999;
   padding: 1rem;
}
.about-my-project-grid{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  align-items: center;
  justify-content: center;
}
.about-my-project-grid .c1{
  margin-top: 18px;
  max-width: 360px;
  padding: 1rem;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.about-my-project-grid h2,p{
  margin: 8px;
  padding: 5px;
}
.about-project-intro{
  display: inline-block;
  margin-left:50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 1px;
  border-bottom: 6px solid;
  padding: 0px 6px;

}

@media only screen and (max-width: 500px) {
  .about-project-intro{
    font-size: 2.1rem;
  }
  .about-heading{
    font-size: 2.1rem;
  }
]