*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    font-size: 17px;
    box-sizing: border-box;
    
  },
 *:before, *:after {
    box-sizing: border-box;
  }

 
  html, body {
    overflow-x:hidden ;
    box-sizing: border-box;
    background-color: #f1f1f1;

  }

   
  .load{
    border: 1px solid #ECF0F1;
    padding: 5px;
    position:fixed;
    top:50%;
    left:50%;
    transform-origin: center center;
    transform:translate(-50%, -50%) rotate(135deg);
    /*change these sizes to fit into your project*/
    width:50px;
    height:50px;
    
  }
  .load hr{
    border:0;
    margin:0;
    width:40%;
    height:40%;
    position:absolute;
    border-radius:50%;
    animation:spin 2s ease infinite;
    z-index: 10000;
  }
  
  .load :first-child{background:#19A68C;animation-delay:-1.5s}
  .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
  .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
  .load :last-child{background:#193B48}
  
  @keyframes spin{
    0%,100%{transform:translateX(200%)}
    25%{transform:translateY(200%)}
    50%{transform:translateX(0)}
    75%{transform:translateY(0)}
  }




  .arrow-top {
    position: fixed;
    right: 10px;
    bottom: 0px;
    height: 33px;
    width: 33px;
    background-color:burlywood;
    border:1px solid grey;
    border-radius: 50%;
    color: white;
    text-align: center;
    z-index: 999;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  
}
.arrow-top.active{
  bottom: 10px;
   opacity: 1;
  transition: all 0.3s ease-in-out;

}
.target-span{
  font-size: 2rem;
  font-weight: bold;
     
}

  #preloader{
    width: 100vw;
    height: 100vh;
    font-size: 12px;
  }
  #preloader img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.image-content{
  width: 350px;
}
.image-content img{
  width: 100%;
  height: 100%;
}


.upper{
  display: flex;
  margin-top:6rem;
  justify-content: center;
  align-items: center;
}
.upper-card{
  border-radius: 6px;
  margin-top:1rem;
}


.about-paragraph{
  margin: 0 auto;
  /* width: 700px; */
  max-width: 700px;  
  text-align: left;

}

.service-section{
  text-align: center;
}
.service-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
   justify-content: space-around;
   text-align: left;
   margin-top:0.5rem;

}
.service-wrapper>div{
  flex-basis: 300px;
}
.service-icon i{
  border-radius: 10%;
  margin: 10px;
}


@media only screen and (max-width: 768px) {

  
  .service-wrapper{
    display: block;
  }
  .service-wrapper>div{
    margin-top:2rem;
  }

}




.cv-button{
  display: inline-block;
  padding: 12px 15px;
  cursor: pointer;
  max-width: 300px;
   margin: 0 auto;

}
@media only screen and (max-width: 576px) {

    
   .about{
  
    text-align: center;
   }
   .cv-button{
     padding: 8px 12px;
     box-sizing: border-box;
   }
}
@media only screen and (max-width: 576px) {

  *{
  
 font-size: 14px;  
 line-height: 1.8;
}
}

  .my-recent-work{
    min-height: 60vh;
    /* width: 100%; */
    justify-content: center;
    background-color:#F1F1F1;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  
  }
  .all-items{
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .all-items ul{
    display: flex;
  }
  .all-items ul li{
    list-style: none;
    margin: 6px;
    /* background-color: #ff7720; */
    background-color: white;
    border: 1px solid #c2c2c2;
    padding:5px 15px;
    cursor: pointer;
  }
  .all-items ul li.actives{
    background-color: orange;
  }
  .my-recent-work-heading{
    font-size: 2.1rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding:0.8rem;
  }

  .my-recent-work-wrapper{
    display: flex;
   flex-wrap: wrap;
    gap: 0.5rem;
    padding:0.5rem;
    justify-content: center;
    align-items: center;
  }
  .my-recent-work-wrapper .project-image{
    width: 350px;
    max-width: 350px;
    height: 350px;
    position: relative;
    margin:4px;
      
  }
  .my-recent-work-wrapper .project img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

  }
  .project{
    position: relative;
  }
  .recent-work-image-overlay{
    position: absolute;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
     width: 100%;
     height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  .image-overlay-content{
    color: white;
    z-index: 9999;
    text-align: center;
    opacity: 0;
      transition: all 0.2s;
      box-sizing: border-box;
  }
  .image-overlay-content i{
    font-size: 40px;
    color:white;
    margin:8px 5px;
  }
  .project:hover .image-overlay-content{
    opacity: 1;
    transform: translateY(30%);
  }

 

  @media only screen and (max-width: 576px) {

  .all-items{
    display: none;
  }
  .my-recent-work{

    justify-content: center;

  }
  }



 
  .client-feedback{
   /* min-height: 350px; */
    width: 100%;
    padding:0.5rem;
    text-align: center;
  }
  .client-feedback-heading{
     font-size: 2.1rem;
     font-weight: 600;
     letter-spacing: 1px;
     

  }

  .image-person{
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  .image-person img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

  }


  @media only screen and (max-width: 576px) {

    .image-person{
      height: 150px;
      width: 150px;
      box-sizing: border-box;

    }
    .person p{
      letter-spacing: 1px;
    }
  
  }
  


  .person p,h2{
    margin-top:10px;
  }
 .person{
   padding: 2rem 1rem;
 }



.carousel-item{
  /* padding: 2rem 1.5rem; */
  background-color:  #000c1a;
  color:lightblue;
  padding: 1rem 0.5rem;

}

.carousel-item .image-person,h2,p{
  margin-bottom:1rem;
}
.carousel-indicators [data-bs-target]
{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
}



.project-wrapper div{
   
  border-left:3px solid grey;
  padding: 1.5rem;
}



.col-md-4 {
  text-align: center;
  border-right: 1px dashed black;
  padding: 2rem;
}

.col-md-4:last-child {
  border-right: 0px solid black;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}



@media (max-width: 576px) {
  .col-md-4 {
    border-right: 0px dashed black;
    border-bottom: 1px dashed black;
    width: 100%;
    margin: auto auto;
  }
  
  .col-md-4:last-child {
    border-bottom: 0px dashed black;
  }
}




footer{
  display: grid;
grid-template-columns: 4fr 1fr;
align-items: center; 
color:white;
}
.left-content{
}
.right-content{
  flex-wrap: wrap;
}
.right-content i{
  font-size: 2rem;
  cursor: pointer;
  color:white;
}
.left-content a,.right-content a{
  margin: 10px;
}



@media only screen and (max-width: 500px) {

   footer{
     display: grid;
     grid-template-columns: 1fr;
     justify-items: center;
   }
   .client-feedback{
     padding:10px 15px;
     line-height:1.7;
   }

}